<!DOCTYPE html>
<html>
<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Teko:wght@400;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  <h1>What's your secret?</h1>
  <div class="card">
    <p id="secret-text">
      <%= secret %>
    </p>
  </div>
  <p class="user">
    <%= user %>
  </p>
  <button id="refresh-btn">Get New Secret</button>

  <script>
    document.getElementById("refresh-btn").addEventListener("click", async () => {
      try {
        const response = await fetch("/new-secret");
        const data = await response.json();
        
        document.getElementById("secret-text").innerText = data.secret;
        document.querySelector(".user").innerText = data.user;
      } catch (error) {
        console.error("Error fetching new secret:", error);
      }
    });
  </script>
</body>
</html>
